<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portforlio | about</title>
    <link rel="stylesheet" href="stylesheets/stylesheet.css">
</head>
<body>
    <header>
        <h1>Abhijeet Nagar</h1>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </nav>
        <div class="search-login">
            <form action="#" method="GET">
                <input type="text" placeholder="Type..." name="query">
                <button type="submit">Go</button>
            </form>
            <div class="auth-buttons">
                <button type="button">Login</button>
                <button type="button">Sign Up</button>
            </div>
        </div>
    </header>

    <main>
        <section>
            <h2>Education timeline</h2>
            <p>School : 2008 to 2023 at SJVN</p>
            <p>Graduation : 2024 to 2028 (expected) from IIIT dharwad</p>
        </section>
        <section>
            <h1>Other Certifications</h1>
            <div>
                <p>Course from Great learning</p>
            </div>
            <div>
                <p>Competitive coding certificates</p>
            </div>
        </section>
        <section>
            <h1>My Resume</h1>
            <a href="https://docs.google.com/document/d/1HfqB9JBrBu79G7lIasKcpSMi9OHQ9kh52MLfu64wRKo/edit?pli=1&tab=t.0#heading=h.9aedq4tvs2mc" style="font-size: xx-large;">Click To Open</a>
        </section>
    </main>

    <footer>
        <section>
            <h3>Connect With Me</h3>
            <ul>
                <li><a href="#">LinkedIn</a></li><br>
                <li><a href="#">GitHub</a></li>
            </ul>
        </section>

        <section>
            <h3>Contact</h3>
            <p>Email: <a href="mailto:your.email@example.com">your.email@example.com</a></p>
            <p>Phone: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
        </section>

        <section>
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Terms</a></li><br>
                <li><a href="#">Services</a></li>
            </ul>
        </section>
        <p id="lastLine">Built with passion to innovate.</p>
    </footer>
</body>
</html>