@import "tailwindcss";
@source "./public/*.{html,js}";
@plugin "daisyui" {
    themes: dark --default, nord --prefersdark, forest;
}

.animateword {
    animation: typing 4s infinite steps(25, end), blink 0.8s infinite;
    overflow: hidden;
    width: 0;
    display: inline-flex;
    border-right: 5px solid rgb(58, 209, 255);
}

@keyframes blink {
    50% {border-right: transparent}
}
@keyframes typing {
    60% {width: 250px}
}

.card {
    display: inline-block;
    margin: 50px;
}